body{
    background-color: gray;

    
}
div.container{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}
section.side-image{
    background: url(./images/Background_image.jpg);
    width: 30%;
}

section.login-part{
    background-color: white;
    width: 70%;
}
.introduction{
    font-weight: bold;
}
.widgets{
    display: flex;
    flex-direction: row;
    padding: 5px;
    border: none;
    overflow: hidden;
}
.right{
    margin-left: 5%;
}
.login-part{
    padding: 5%;
}

.logo{
    background-color: rgb(0,0,0, 0.6);
    align-items: center;
    margin-top: 35%;
}

#logo{
   height: 150px ; 
   margin-left: 25%;
   
}
button[type=submit]{
    background: rgb(12, 50, 12);
    color:white;
    padding: 5px 10px 5px 10px;
    border:none;
    border-radius: 4px;
}

.invalid{
    background: red;
    border: 1px solid red;
}
input[type="email"]{
    appearance: none;
    width: 100%;
    border: 1px solid #333;
    margin: 0;

    font-family: inherit;
    font-size:90%;

    box-sizing: border-box;
}

/*This is our style for the invalid fields*/
input:invalid{
    border-color:#900;
    background-color: #fdd;
}

input:focus:invalid{
    outline:none;
}

/*This is the style of our error messages*/
.error{
    width: 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;

    box-sizing: border-box;
}

.error.active{
    padding: 0.3em;
}

span{
    display: block;
}